{
  "storage": {
    "file": {
      "path": "/data"
    }
  },
  "listener": [
    {
      "tcp": {
        "address": "0.0.0.0:8200",
        "tls_disable": true
      }
    }
  ],
  "default_lease_ttl": "{{ default_lease_ttl }}",
  "max_lease_ttl": "{{ max_lease_ttl }}",
  "ui": true
}