networks:
  grafana:
    driver: bridge
services:
  grafana:
    image: "{{ image }}"
    container_name: "{{ container_name }}"
    restart: unless-stopped
    user: '0'
    environment:
      - GF_SECURITY_ADMIN_USER={{ admin_user }}
      - GF_SECURITY_ADMIN_PASSWORD={{ admin_pass }}
      - GF_PLUGINS_PREINSTALL="{{plugins}}"
    volumes:
      - {{ base_dir }}/data:/var/lib/grafana
      - {{ base_dir }}/provisioning:/etc/grafana/provisioning
    ports: 
      - {{ lister_port }}:3000
    networks:
      - grafana
